# dependencies
/node_modules

# next.js
/.next/
/out/

# db files
src/prisma/db/
src/prisma/migrations/

# production
/build

# env files 
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# project plan
Project-Plan.md